/*-- scss:rules --*/

.reveal img.rounded {
  display: block;
  margin-inline: auto;
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 1.25rem rgb(0 0 0 / 25%);
}

.reveal .quote-slide blockquote {
  font-size: 0.85em;
  font-weight: 300;
}
